<footer id="footer">
    <div id="fot">
        <p><i id="redes">Encuentranos en nuestras redes sociales</i></p>
      </div>
        <div id="btn">
            <button type="button"  class="btn" id="face"><a href="https://www.facebook.com/Sweet-Mimi-1116419885204240/"><img id="fimg" src="..\img\facebook.jpg" alt="Facebook" width="40"></a></button>
            <button type="button"  class="btn" id="instagram"><a href="https://www.instagram.com/sweetmimipasteleria"><img src="..\img\instagram-icone-icon-2.png" alt="Instagram" width="40"></a></button>
            <button type="button"  class="btn" id="whatsap"><a href="tel://+54 9 11 3118-6554"><img src="..\img\Icono-Whatsapp.png" alt="Icono-Whatsapp" width="40"></a></button>
      
        </div>
    <hr><small>Copy-Right SweetMimi 2021</small>
</footer>
