<footer id="footer">

    

    <div id="media">
        <a href="/Videos"><i>Videos</i></a>
    </div>
    <div class="fot">
        <p><i id="redes">Seguinos</i></p>
      </div>
        <div id="btn">
            <a href="https://www.facebook.com/Sweet-Mimi-1116419885204240/"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/sweetmimipasteleria"><i class="fab fa-instagram"></i></a>
            <a href="mailto:andrearondan06@gmail.com"><i class="far fa-envelope"></i></a>
            <a href="http://bit.ly/2SoxtWD"><i class="fab fa-whatsapp"></i></a>  
        </div>

    <div id="nav-foot">
        <ul>
            {% for i in data[1] %}
            <li><a href="/categoria/{{ i.categoria }}">{{i.categoria}}</a></li>
            {% endfor %}
            <li>andrearondan06@gmail.com</li>
        </ul>
    </div>
    

        


    <hr><small>Copy-Right SweetMimi 2021</small>
</footer>

