<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="menu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="app.js" defer></script>
    
    <link href="https://fonts.googleapis.com/css2? family=Dancing+Script&display=swap" rel="hoja de estilo">    
    <title>Document</title>
</head>
<body>
    <nav class="menu">
        <label id="logo"><a href="/">SweetMimi</a></label>
        <input  class="f3"  type="submit" value="🔍">
        <ul class="menu-item">
            {% for i in data[1] %}
            <li><a href="/categoria/{{ i.categoria }}">{{i.categoria}}</a></li>
        {% endfor %}
        <div id="menu-item2">
            <img src="..\img\mimi.png.jpg" alt="mimo" width="120"> 
        </div>
         
        </ul>
        <span id="bton">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </span>

        

    </nav>
    
</body>
</html>