<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">     
    <title>SweetMimi</title>
</head>
<body>
    <div id="contenedor">
        {% include "header.html" %}
        {% include "menu.html" %}
        <main >
            <div id="texto">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione sit consequuntur nulla dolor architecto. Ut consectetur deleniti laudantium molestiae quaerat. Reprehenderit rerum impedit ab eveniet itaque at sequi porro deserunt?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam praesentium, iusto at eligendi fuga illo voluptatibus dolore natus. Eum, delectus quia molestiae fugit deserunt quo sint, illo, cumque tempore harum quis quasi ex neque voluptate nobis? Eos distinctio quae omnis asperiores, commodi perspiciatis delectus provident dicta officia et dolore eligendi.
                </p>
            </div>           
            <div id="producto">
                {% for i in data[0] %}                                
                    <img class="imgp" src="img/{{i.Imagen}}" alt="mimo">
                    <h1>{{i.id}}-{{i.Nombre}}</h1>
                    <h2><a href="/plato/{{ i.id }}">{{i.Precio}}</a></h2>                    
                    <p>{{i.Descripción}}</p>            
                {% endfor %}             
            </div>
            
        </main>
        {% include "footer.html" %}
         
    </div>
    
</body>
</html> 