<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav id="menu">
        <ul>                
             <li><a href="/category/:categoria">Eventos</a></li>
             <li><a href="/category/:categoria">Salados</a></li>
             <li><a href="/category/:categoria">Dulces</a></li>
             <li><a href="/category/:categoria">Cumpleaños</a></li>
             <li><a href="/category/:categoria">Desayunos</a></li>              
        </ul>
                                                                  
    </nav>
    
    
</body>
</html>