<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="contenedor">        
        {% include "header.html" %}        
        {% include "navegacion.html" %}        
        <main id="ruta">
            <h1><strong>{{prod.producto}}</strong></h1>
            <img  class="imgp" src="{{prod.imagen}}" alt="prod">
            <h1>Precio: {{prod.precio}}</h1>
            <h2>Descripcion</h2>            
            <p><strong>{{prod.descripcion}}</strong></p>
            <h3>Categoria: {{prod.categoria}}</h3>
            <p><strong>Disponible:{{prod.disponible}}</strong></p>
            
                     
        </main>
        {% include "footer.html" %}
    </div>
    
</body>
</html>