#body{
    margin: 0;
    padding: 0;
    background-color: lightgrey;
    
    

}
#contenedor{
    width: 100%;
    margin: 0 auto;
    max-width: 1440px;
    min-width: 360px;    
}


#cabecera{
    width: 100%;
    height: auto;            
    display: flex;            
    justify-content: center;
    box-sizing: border-box;
    flex-wrap: nowrap;    
    float: left;    
    background-image: url(https://th.bing.com/th/id/OIP.ZpHHTOfdfxNeOYTwPNQ84AHaHa?w=187&h=187&c=7&o=5&pid=1.7);;
    
    
    
}
#menu :hover{
    color: blueviolet;
}

#menu{
    height: 35px;
}
#menu ul{
    background-color: lightcoral; 
    display: flex;
    text-align: center;    
    justify-content: space-around;
    list-style: none;       
    float: left;
    width: 100%;
    padding: 0%;
    height: auto;    
}
ul li a{
    font-size: 25px;
    color:whitesmoke;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
}
#imagen{
    width: 40%;
    float:left;   
    box-sizing: border-box;
    margin-right: 40px;
    padding: 10px;
    


}

#producto{
    text-align: center;
    float:left;
    width: 100%;
    padding:20px;        
    box-sizing: border-box;    
    overflow: hidden;
}
.imgp{
    width: 300px;
}

#cabecera img{
    width: 50%;
    height: 140px;
               
}
.f1{
    
    margin: 5px;
    text-align: center;            
    width: 100%;            
    padding: 1px;
    justify-content: center;
    
}

.f1>input{
    font-size: 20px;
    margin: 3px;
    width: 60%;
}
#f2{
    font-size: 20px;
    width: 100px;
}

.f1>input:hover{
    background-color: lightpink;
    color:whitesmoke;
}

    

#footer{
    margin: 0 auto;
    font-size: 12px;
    float: left;
    text-align: center;    
    font-family: Georgia, 'Times New Roman', Times, serif;    
    
}

main{
   margin: 0 auto;   
   width: 100%;
   float: left;
   color:white;   
   text-align: center;
   background-color: lightpink;
      
}


#menu,main,footer,#cabecera{
    width: 100%;
    float: left;
    text-align: center;
    margin: 0 auto;
}

#texto{
    text-align: center;
    width: 100%;    
    float: left;
    color: lightcyan;  
}
#redes{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
}
#face:hover{
    background-color: rgb(76, 58, 240);
    transition: 0,5s;
    
    
        
}
#instagram:hover{
    background-color: rgb(168, 132, 162);
    transition: 0,5 s;
    
}
#whatsap:hover{
    background-color: rgb(7, 161, 54);
    transition: 0,5 s;
}
#face>a>img{
    border-radius: 100%;    
}

#instagram>a>img{
    border-radius: 100%;       
}
#whatsap>a>img{
    border-radius: 100%;    
}

#btn{
    width: 100%;    
    margin: 0 auto;
    border-radius: 20px;
    
}
#fot{
    text-align: center;
    width: 100%;
    float: left;
    margin: 0 auto;
}

@media (max-width: 400px) {
    
    

    #cabecera{
        width: 100%;
        
    }

    #contenedor{
        width: 100%;
    }
    main,menu,footer{
        width: 100%;
        float: left;     
    }

    #menu{
        height: 20px;
    }

    
    ul li a{
        font-size: 13px;
    }
    .imgp{
        width: 70%;
    }
    #producto{
        width: 100%;
        margin: 0 auto;
        text-align: center;
        
    }
    .f1>input{        
        margin-top: 20px;    
        border-radius: 10px;
        width: 100%;
    }
    #f2{
        width: 100%;
        
    }

    #imagen{
        width: 100%;
        float:left;   
        box-sizing: border-box;
        margin-right: 40px;
        
        
    }
    #cabecera img{
        width: 135px;
        margin-top: 10px;
        margin-left: 30px;
        height: 100px;
                   
    }
    h1{
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: darkgrey;
    }
    
}

@media (max-width: 680px) {
    
    

    #cabecera{
        width: 100%;
        
    }
    main,menu,footer{
        width: 100%;        
        
    }
    ul li{
        font-size: 13px;
    }
    .imgp{
        width: 130px;
    }
    #producto{
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .f1>input{
        font-size: 10px;
        margin-top: 20px;    
        border-radius: 10px;
        width: 120px;
    }
    #f2{
        font-size: 10px;
        width: 60px;
    }

    #imagen{
        width: 100%;
        float:left;   
        box-sizing: border-box;
        margin-right: 40px;
        
        
    }
    #cabecera img{
        width: 170px;
        margin-top: 10px;
        margin-left: 30px;
        height: 100px;
        padding: 5px;
        box-sizing: border-box;
                   
    }
    h1{
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: darkgrey;
    }

    

    
    
}