.menu{
    background-color: lightpink;
    justify-content: space-between;
    height: 75px;
    width: 100vw;
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
    box-shadow: 5px 0 10px lightpink;
    
}

nav, main, footer{
    width: 100vw;
}


.f3{
    display: none;
}



*, *:before, *:after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

#logo{
    color: white;
    font-size: 45px;
    padding: 0 40px;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
}

#logo a{
    text-decoration: none;
    color: linen;
    list-style: none;
    font-family: 'Dancing Script', cursiva;
    
}
#logo >a :hover{
    color: linen;

}


.menu-item{
    display: flex;
    list-style: none;
    margin-right: 30px;
}

.menu-item li{
    border-radius: 3px;
    margin: 0 5px;
}

.menu-item>img{
    display: none;
}

.menu-item li a{
    padding: 7px 13px;
    text-decoration: none;
    font-size: 25 px;
    display: block;
    text-transform: uppercase;
    color: whitesmoke;
}

.menu-item li a:hover{
    color: blueviolet;
    transition: -4s;
}

#bton{
    margin-right: 20px;
    font-size: 25px;
    color: blanchedalmond;
    cursor: pointer;
    display: none;
}

ul.show{
    top: 65px;
}

ul.gone{
    display: none;
}
div.none{
    display: none;
}


#menu-item2{
    display: none;
}

#producto{
    
    border-radius: 10px;
    background-color: white;
}

#box,h1{
    font-family: "Pacifico", cursive;
}

#productos h1{
    font-family: "Pacifico", cursive;
}

#productos h2{
    font-family: 'Dancing Script', cursive;
}

#productos p{
    font-family: fansong;
}

#All{
    margin: auto;
    text-align: center;
    float: left;
    width: 100%;
}
#All h3 a{
    font-size: 23px;
    font-family: 'Dancing Script', cursive;
    color: blanchedalmond;
    text-decoration: none;

}

#imgbox{
    
    width: 100%;

}

#producto> h2 a{
    text-decoration: none;
    list-style: none;
    color:lightpink;
}

#footer{
    background-color:white;
    border-top: 1px solid rgb(110, 109, 109);
}
.fot p{
    margin-top: 10px;
}


.player{
    background-color: white;
    padding:10px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
    margin: 22px;
    float: left;
}

#nav-foot{
    display: none;
}

#video{
    float: left;
    width: 100%;
    
}


@media(max-width: 952px){
    #logo{
        font-size: 30px;
        padding-left:35px;
    }

    .menu-item li a{
        font-size: 16px;
    }



}

@media(max-width: 858px){
    .menu{
        height: 65px;
        border: 1px solid blanchedalmond;
        
    }
    #bton{
        display: inline-flex;
    }

    .menu-item{
        position: fixed;
        width: 100vw;
        height: calc(100% - 65px);
        background: #414141;
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
        padding-left: 0;                
        
    }

    .menu-item li{
        margin: 30px 0 0 0;
        line-height: 30px;
        
    }

    .menu-item li a{
        font-size: 20px;
        color: blanchedalmond;
        font-weight: bold;
        
    }

    #logo{
        font-size: 37px;
        padding-left: 25px;
    }

    #f3{
        width: 80%;
    }

    .border{
        padding: 16px;
    }

    #producto{
        width: 45%;
        padding: 10px;
        margin: 9px;
        height: 230px;
    }

    .imgp{
        width: 140px;
    }

    #producto> h2 a{
        font-size: 12px;
    }

    #menu-item2>img{
        display: block;
        border-radius: 100%;        
        margin: 0 auto;        
        text-align: center;
    }

    #menu-item2{
        margin-top: 25px;
        display: block;
        border-radius: 100%;               
        text-align: center;
    }

    #btn a{
        font-size: 22px;
        margin: 10px;
        color: deeppink;
    }

    #btn a :hover{
        font-size: 32px;
        color: deeppink;
    }
    
    #nav-foot ul{        
        justify-content: space-between;
        list-style: none;
        margin: 1px;
        padding: 1px;
        text-align: center;
    }
    #nav-foot{
        margin-top: 11px;
        display: block;
    }

    #nav-foot ul li{
        text-align: center;
    }
    #nav-foot ul a{
        font-size: 8px;
        text-decoration: none;
        color:darkslateblue;
    }

    #nav-foot ul a :hover{
        color: deeppink;
    }

    #All{
        
        padding: 1px;
    }
    #All a {
        font-size: 23px;
    }

    #media{
        float: right;
        text-align: center;
        margin-right: 5px;
    }

    #media a{
        text-decoration: none;
        font-size: 10px;
    }
    
    .fot{
        float: left;
    }

    #video{
        width: 100%;
        box-sizing: border-box;
        float: left;
    }

    #texto{
        font-size: 20px;
        text-align: center;
        padding: 3px;
    }


    .player{
        background-color: white;
        padding:10px;
        border-radius: 10px;
        width: 90%;
        text-align: center;
        margin: 19px;
        float: left;
    }




    
}



@media(max-width: 568px){
    .menu-item{
        width: 100%;
    }
    .menu{
        width: 100%;
    }

    nav,main,footer{
        width: 100%;
    }

    .menu-item{
        height: calc(100% - 70px);
                
    }
}




@media(max-width: 480px){
    .menu-item li{
        margin: 10px 0 0 0;
        line-height: 30px;
        
    }
}



@media(max-width: 858px) and (orientation: lanscape){
    .menu-item li{
        margin: 5px 0 0 0;
    }
    .menu-item{
        overflow: scroll;
        height:calc(100% - 65px);
    }

}
